<div class="formcontainer">
  <div class="formbody">
      <form style="width:100%;" [formGroup]="myForm">
          <div class="header">Place Order</div>
          <div>
              <mat-form-field style="width:100%;">
                  <input type="text" formControlName="name" matInput placeholder="Name" id="name">
              </mat-form-field>
          </div>
          <div>
              <mat-form-field style="width:100%;">
                  <input type="tel" formControlName="phone" matInput placeholder="Phone" id="phone">
              </mat-form-field>
          </div>
          <div>
              <mat-form-field style="width:100%;">
                  <input type="text" formControlName="address" matInput placeholder="Address" id="address">
              </mat-form-field>
          </div>
          <div style="margin-top:20px;">
              <button mat-raised-button (click)="sendOrder()">Send</button>
          </div>
          
      </form>
  </div>
</div>

