<mat-toolbar>
  Please select a category:   <button (click)="chooseCategory(category)" mat-button *ngFor="let category of categories">{{category}}</button>
</mat-toolbar>

<div class="menu-item-container">

  <div *ngFor="let item of items">
    <mat-card>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-content>
        {{item.description}}
        <p *ngIf="item.spicy">Csípős</p>
        <p *ngIf="item.vegetarian">Vegetáriánus</p>
      </mat-card-content>
      <mat-card-actions align="right"><span>{{item.price}} HUF </span><button *ngIf="apiService.isLoggedIn()" mat-button color="primary" (click)="addToCart(item)">Add To Cart</button></mat-card-actions>
    </mat-card>
  </div>
</div>
